*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tektur', sans-serif;
    font-family: 'Exo 2', sans-serif;
}
.textPrimary{
    color: #52057B;
}
.btnPrimary{
    border-radius: 5px;
    background: #52057B ;
    border: 0;
    color: #BC6FF1;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 35px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;
} 
nav li {
    list-style: none;
    margin-left: 50px;
}
nav a{
    text-decoration: none;
    color: #181818;
}
.header{
    background-color: #bd6ff187;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .pp{
    width: 500px;
}